<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/kaylaanderson">Kayla</a>, an aspiring full-stack web developer.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kayla Anderson</h2>
      <br />
      <p>
        Kayla Anderson is currently enrolled at Vanderbilt University's Coding Bootcamp. With a passion for creating and a knack for problem solving, she's looking to pursue a career in web development.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>